
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0 !important;
}

.img-fluid {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center;
}

.item {
    display: none;
}

.item.active {
    display: block;
}

#buttons {
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.button_next_prev {
    border: none;
    background: none;
    font-size: 40px;
    padding: 10px;
    border-radius: 20px;
}

.button_next_prev:hover {
    background-color: #80808064;
}

#selects {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

#selects .selector_img {
    width: 30px;
    margin: 0 10px;
    border-radius: 50%;
    aspect-ratio: 1;
    background: none;
    border: none;
}

#selects .selector_img:hover {
    background-color: antiquewhite;
}